<div class="min-h-screen flex items-center justify-center bg-lightGray">

    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">

        <h2 class="text-2xl font-semibold mb-6 text-center">
            Login
        </h2>


        <form class="space-y-4" [formGroup]="loginform" (ngSubmit)="login()">


            @let emailcontrol=loginform.get('email');

            <input type="email" placeholder="Email" formControlName="email" [class]="{
                'border-green-500' :emailcontrol?.valid&&emailcontrol?.touched,
                'border-red-700' :emailcontrol?.invalid&&emailcontrol?.touched
            }" class="w-full border rounded px-3 py-2 text-sm">


            @if (loginform.get('email')?.errors && loginform.get('email')?.touched) {
            <div class="flex items-start sm:items-center p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft w-full bg-red-100"
                role="alert">
                <svg class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                @if (emailcontrol?.getError('required')) {
                <p>Email is required</p>}
                @else {
                <p>Email is invalid</p>
                }
            </div>
            }
            @let passwordcontrol=loginform.get('password');
            <input type="password" placeholder="Password" formControlName="password" [class]="{
                'border-green-500' :passwordcontrol?.valid&&passwordcontrol?.touched,
                'border-red-700' :passwordcontrol?.invalid&&passwordcontrol?.touched
            }" class="w-full border  rounded px-3 py-2 text-sm">



            @if (loginform.get('password')?.errors && loginform.get('password')?.touched) {
            <div class="flex items-start sm:items-center p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft w-full bg-red-100"
                role="alert">
                <svg class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                @if (passwordcontrol?.getError('required')) {
                <p>Password is required.</p>}
                @else {
                <p>Password is invalid</p>
                }
            </div>
            }

            @if(errormessage()){
            <div class="flex items-start sm:items-center p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft text-red-500"
                role="alert">
                <svg class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>

                <p class=""> {{errormessage()}}</p>
            </div>
            }


            <button type="submit" class="w-full bg-green-600 text-white py-2 rounded hover:bg-green-700 transition"
                [disabled]="loginform.invalid||isloading()">
                <span>Submit</span>
                @if (isloading()) {<i class="fa-solid fa-spinner fa-spin-pulse fa-spin-reverse"></i>}

            </button>

        </form>

        <p class="text-sm text-center mt-4">
            Do you have account?
            <a routerLink="/signup" class="text-primary hover:underline">
                Sign up
            </a>
        </p>

    </div>

</div>